.ku-cols {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.ku-cols.left {
  flex: 3;
}
.ku-cols.right {
  flex: 1;
}
.ku-button-style {
  font-size: 12px !important;
  font-weight: 500 !important;
  padding: 9px 12px !important;
  margin-right: 6px;
}
.ku-button-style:hover {
  color: #3c8ae2;
}
.ku-button-success {
  border-color: rgba(0, 0, 0, 0);
  background: #02bc77;
  color: #fff;
}
.ku-button-warning {
  border-color: rgba(0, 0, 0, 0);
  background: #ffd950;
  color: #665720;
}
.ku-button-danger {
  border-color: rgba(0, 0, 0, 0);
  background: #d9534f;
  color: #fff;
}
.ku-button-primary {
  background: #5ec1d4;
  color: #fff;
}
.blue {
  background: #5ec1d4;
}
.ku-badge-pill {
  border-radius: 10rem;
}
.ku-grade-text {
  font-size: 0.75rem;
}
.ku-grade-number {
  font-size: 0.75rem;
  color: #5ec1d4;
}
.ku-green-line {
  display: block;
  box-sizing: border-box;
  background: rgb(10, 187, 135);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 4px solid rgb(10, 187, 135);
}

.ku-badge {
  display: inline-block;
  border-radius: 10px;
  color: #fff;
  padding: 0 10px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
.orange {
  background: #f0906d;
}
.secondary-filter {
  background: rgba(0, 0, 0, 0.05);
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
