/* .ku-news-screen {
  position: relative;
  width: 100%;
  height: 100%;
}
.ku-news-screen-container {
  flex: 2;
  height: 100%;
}
.ku-day {
  color: rgb(1, 169, 107);
}
.ku-welcome {
  padding: 10 0px;
}

.ku-header {
  padding: 5% 20%;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}

.ku-footer-container {
  display: block;
  position: relative;
  align-items: flex-end;
  bottom: 0;
  width: 100%;
  margin-top: 5%;
  padding: 15px 20px;
  padding-left: 20%;
  border-top: 1px solid black;
  background-color: lightblue;
}

.ku-semeter {
  border: solid 0.5px rgb(123, 213, 13);
  border-radius: 10px;
  background-color: rgb(12, 163, 102);
  color: white;
  display: flex;
  align-items: center;
}

.ku-options {
  margin-left: 25%;
  margin-top: 2%;
}

.ku-subject-tap-selected {
  border: 1px solid rgb(156, 221, 230);
  background-color: rgb(40, 195, 215);
  color: white;
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
}
.ku-subject-tap {
  padding: 8px 20px;
  cursor: pointer;
}

.ku-normal-tap {
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
}
.ku-normal-tap-selected {
  border: 1px solid rgb(156, 221, 230);
  background-color: rgb(40, 195, 215);
  color: white;
  border-radius: 5px;
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.ku-announce-container {
  background-color: white;
  width: 65%;
  padding-bottom: 2%;
  margin-left: 25%;
  margin-top: 10px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 3px;
  position: relative;
}

.ku-announce-header-container {
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid black;
  align-items: center;
}

.ku-announce-icon {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(180deg, orange, red);

  color: white;
  justify-content: center;
  align-items: center;
}
.ku-announce-chat-icon {
  color: gray;
  padding-bottom: 40px;
}

.ku-announce-body-container {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgb(245, 250, 243);
  margin: 10px;
  padding: 12.5% 0;
} */
.ku-layout-wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex: 1 1 auto;
}
.ku-layout-inner {
  min-height: 100vh;
}

.ku-layout-wrapper .ku-layout-inner {
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
  width: 100%;
}

.ku-layout-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 auto;
  max-width: 100%;
}
.text-container .ku-name {
  color: #03a96b;
}
.ku-sticky-top-bar {
  display: flex;
  background-color: #03a96b;
  color: #fff;
  position: sticky;
  top: 0;
  padding: 1rem 1.5rem;
  z-index: 10;
}
.ku-sticky-top-bar .layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.ku-sticky-top-bar .layout .left {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding: 0 12px;
}
.ku-sticky-top-bar .layout .right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.ku-sticky-top-bar .layout .right .inner-layout {
  display: flex;
  width: 100%;
  margin: 0 0 0 220px;
  align-items: center;
}
.ku-sticky-top-bar .layout .right .inner-layout .one {
  display: flex;
  flex: 3;
}
.ku-sticky-top-bar .layout .right .inner-layout .one .bell {
  width: 20px;
  height: 20px;
}
.ku-sticky-top-bar .layout .right .inner-layout .two {
  display: flex;
  flex: 3;
}
.ku-sticky-top-bar .layout .right .inner-layout .three {
  display: flex;
  flex: 2;
}
.ku-sticky-top-bar .layout .right .inner-layout .four {
  display: flex;
  font-size: 14px;
  flex: 15;
  padding: 0 4px;
  margin: 0 8px 0 0;
}
.ku-sticky-top-bar .layout .right .inner-layout .five {
  display: flex;
  flex: 1;
}
.ku-sticky-top-bar .layout .right .inner-layout .five .poweroff {
  color: #fff;
}

.ku-content-layout {
  width: 100%;
  height: 100%;
  padding-bottom: 0;
}
.ku-content-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  flex-grow: 1 !important;
  height: auto;
  padding: 1.5rem 2rem;
}

.ku-welcome-container {
  display: flex;
}

.ku-welcome-inner-left {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.ku-welcome-inner-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 12px;
  text-align: right;
}
.ku-welcome-text-box {
  display: flex;
  flex-direction: column;
  width: 346.6px;
}
.ku-welcome-text-box .row {
  display: flex;
}
.row .semeter {
  padding: 3.2px 8px;
  margin: 0 0 0 16px;
  border: 1px solid rgb(2, 188, 119);
  background-color: rgb(2, 188, 119);
  border-radius: 15px;
  color: #fff;
  font-size: 12px;
}
.day {
  color: rgb(3, 169, 107);
  font-size: 14px;
}
.ku-body-layout {
  display: flex;
  flex: 0 0 83.3333%;
}
.ku-body-container {
  min-width: 768px;
  max-width: 83.3333%;
  margin-left: 8.3333%;
  position: relative;
  width: 100%;
  padding: 0 12px;
}
.ku-button-container {
  display: flex;
  margin: 8px 0 16px;
}
.ku-button-container button {
  display: flex;
  margin: 0 12px 0 0;
  padding: 7px 18px;
}
.ku-button-container button.active {
  display: flex;
  margin: 0 12px 0 0;
  padding: 7px 18px;
  background-color: #28c3d7;
  border-radius: 5px;
  color: #fff;
}

.ku-ann-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.ku-ann-card-header {
  display: flex;
  padding: 0.875rem 1.5rem;
  border-top: 1px solid #e5e5e5;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.ku-ann-icon-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: linear-gradient(180deg, #ffce7f, #dd1374), #e5aa17;
  border-radius: 100%;
  color: #fff;
  font-size: 19px;
  margin: 0 1rem 0 0;
}
.ku-ann-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.313rem;
}

.ku-ann-card-body-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 8px;
  border-top: 1px solid #e5e5e5;
}

.ku-ann-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background: #f5faf4;
}

.ku-ann-card-body span {
  font-size: 5rem;
}
.chat-icon {
  color: rgba(128, 128, 128, 0.341);
}

.footer-container-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem 1rem;
  border-top: 1px solid #e5e5e5;
}
.footer-body {
  padding-top: 1rem;
}
.footer-text {
  font-size: 0.894rem;
}
.ku-sync-button {
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #d9534f;
  background: transparent;
  color: #d9534f;
  padding: calc(0.438rem + 4px) 1.125rem;
  border-radius: 0.25rem;
  transition: all 0.2s;
  font-size: 0.894rem;
}
.bold {
  font-weight: bold;
}
.ku-sync-button:hover {
  background-color: #d9534f;
  color: #fff;
}
.ku-row {
  display: flex;
  flex-wrap: wrap;
}
.ku-row div {
  flex: auto;
}
.cols1 {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 90px;
  padding-right: 0px;
  font-size: 12px;
  max-width: 8.3333%;
}
.cols2 {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 0px;
  font-size: 12px;
  max-width: 50px;
}
.cols3 {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  margin-bottom: 5px;
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  font-size: 12px;
  max-width: 8.3333%;
}
.cols3 span {
  border-radius: 10px;
  color: #fff;
  background: #f0906d;
  padding: 3px 8px;
  font-size: 11px;
  font-weight: 500;
}
.cols4 {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  margin-bottom: 5px;
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  font-size: 12px;
  max-width: 50%;
}
.cols5 {
  display: flex;
  flex-direction: column;
  max-width: 16.66667%;
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-top: 5px;
  font-size: 12px;
  margin-bottom: 5px;
}

.ku-col {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  margin: 6px 0;
  align-items: center;
}
.ku-col-2 {
  display: flex;

  padding: 0 12px;
  margin: 6px 0;
  justify-content: flex-end;
  align-items: flex-end;
}
.ku-col-3 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.div {
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  padding-right: 8px;
  box-sizing: border-box;
  justify-content: flex-end;
}
.div2 {
  display: block;
  text-align: end;
  padding: 5px 20px 5px 5px;
}
.ku-butt-group {
  display: inline-flex;
  position: relative;
  vertical-align: middle;
}
.ku-butt-group2 {
  display: inline-flex;
  position: relative;
  vertical-align: middle;
}
.ku-butt-group button {
  padding: 1px 6px;
}
.ku-butt-schedule.active {
  width: 98px;
  height: 32px;
  background: #0ba678;
  border: 0.2px solid #f6f6f6;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}
.ku-butt-schedule.inactive {
  width: 98px;
  height: 32px;
  background: rgba(128, 128, 128, 0.2);
  border: 0.2px solid #f6f6f6;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}
.ku-butt-schedule1.active {
  width: 98px;
  height: 32px;
  background: #0ba678;
  border: 0.3px solid #f6f6f6;
  box-sizing: border-box;
  border-radius: 1px 1px 1px 1px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}
.ku-butt-schedule1.inactive {
  width: 98px;
  height: 32px;
  background: rgba(128, 128, 128, 0.2);
  border: 0.3px solid #f6f6f6;
  box-sizing: border-box;
  border-radius: 1px 1px 1px 1px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}
.ku-butt-schedule2.active {
  width: 98px;
  height: 32px;
  background: #0ba678;
  border: 0.3px solid #f6f6f6;
  box-sizing: border-box;
  border-radius: 0 4px 4px 0;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}
.ku-butt-schedule2.inactive {
  width: 98px;
  height: 32px;
  background: rgba(128, 128, 128, 0.2);
  border: 0.3px solid #f6f6f6;
  box-sizing: border-box;
  border-radius: 0 4px 4px 0;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

.ku-icon-left {
  width: 29px;
  height: 36px;
  background: #fff;
  box-sizing: border-box;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px 0 0 4px;
  padding: 1px 6px;
}
.ku-mid {
  width: 242px;
  height: 36px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  border-radius: 0 0 0 0;
  padding: 1px 6px;
}

.ku-icon-right {
  width: 29px;
  height: 36px;
  background: #fff;
  box-sizing: border-box;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 0 4px 4px 0;
  padding: 1px 6px;
}
.grade-text {
  font-size: 12px;
  box-sizing: border-box;
  position: auto;
}
.grade-number {
  font-size: 12px;
  color: #5ec1d4;
  position: auto;
}
.ku-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(24, 28, 33, 0.06);
  border-radius: 0.25rem;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.ku-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
  justify-content: space-between;
}
.ku-sun {
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  background-color: rgb(121, 121, 121);
  max-width: 16.6667%;
  flex: 0 0 16.6667%;
}
.ku-sun-right {
  position: relative;
  max-width: 83.3333%;
  padding: 10px 20px 10px 10px;
}
