.ku-drawer-container {
  position: fixed;
  width: 17.5%;
  height: 100%;
  top: 0;
  left:0;
  overflow-x: hidden;
  background-color: rgb(47, 51, 55);
  z-index: 1999;
}
.ku-drawer-container.close:hover {
  position: fixed;
  width: 17.5%;
  height: 100%;
  top: 0;
  left:0;
  overflow-x: hidden;
  background-color: rgb(47, 51, 55);
  z-index: 1999;
}


.ku-drawer-container.close{
  width: 55px;
  transition: 0.3s;
  z-index: 1999;
  overflow-x: hidden;
}


.ku-drawer-header-container {
  display: flex;
  color: white;
  align-items: center;
  height: 9%;

  border-bottom: 1px solid gray;
}
.ku-person-icon-container {
  flex: 1;
  padding-left: 10px;
}

.ku-person-icon-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(149, 187, 223);
}

.ku-person-info-container {
  flex: 3;
  padding-left: 10px;
  
}
.ku-person-info-name {
  color: rgb(30, 140, 94);
  font-size: 12px;
  white-space: nowrap;
}
.ku-person-info-status {
  color: rgb(255, 255, 255, 0.75);
  font-size: 10px;
  white-space: nowrap;
}

.ku-menu-icon-container {
  flex: 1;
  display: flex;
}

.ku-menu-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.ku-drawer-items-container {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  color: #9d9fa1;
  cursor: pointer;
  transition: 0.2s;

}


.ku-drawer-items-container:hover {
  color: #fff;
  transition: 0.25s;
}

.ku-drawer-items-container.selected {
  display: flex;
  align-items: center;
  background-color: #03a96b;
  color: #fff;
}
.ku-drawer-items-text {
  color: rgb(89, 93, 96);
}
.ku-drawer-items-text.close {
  color: rgb(89, 93, 96);
  justify-content: center;
}

.ku-drawer-items-icon{
  display: flex;
  flex:1;
  align-items: center;
  width:20px;
  padding-left: 10px;
}

.ku-drawer-items-side-text{
  display: flex;
  flex:2;
  padding-left: 25px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}
